async/src/main/app/async.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8085" doc:name="HTTP Listener Configuration"/>
	<db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" password="Aspire@123" database="audit" doc:name="MySQL Configuration"/>
	<flow name="asyncFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/async" allowedMethods="POST" doc:name="Get employee details"/>
		<logger message="Stage 1 : Before auditing into DB #[message.id]------------------#[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Before auditing into db"/>
		<async doc:name="Async">
			<logger message="Async Process Started" level="INFO" doc:name="Async process started"/>
			<db:insert config-ref="MySQL_Configuration" doc:name="Auditing ">
				<db:parameterized-query><![CDATA[insert into employee values (#[json:id],#[json:name],#[json:age],#[json:department],#[json:salary/amount])]]></db:parameterized-query>
			</db:insert>
			<logger message="Async process end" level="INFO" doc:name="Async process end"/>
		</async>
		<logger message="After auditing into DB" level="INFO" doc:name="After auditing into DB"/>
		<set-payload value="#[payload]" doc:name="Response message"/>
	</flow>
</mule>
